{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dynameyes | {{ title }} </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'quiz/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'quiz/css/style.css' %}" rel="stylesheet">

    <script src="{% static 'quiz/js/jquery-3.2.1.slim.min.js' %}"></script>

  </head>

  <body>

    <div class="container">
  

    {% block content %}

    {% endblock %}

    </div> <!-- /container -->

  <script src="{% static 'quiz/js/popper.min.js' %}"></script>
  <script src="{% static 'quiz/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'quiz/js/main.js' %}"></script>
  </body>
</html>
