{% extends 'base.html' %}

{% block content %}

    {% include 'nav.html' %}

    <!-- Jumbotron -->
    <div class="jumbotron">
         <form method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend>{{ title }}</legend>
                {% for obj in questions %}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="choice"  id="choice-{{ obj.id }}" value="{{ obj.id }}">
                            {{ obj }}
                        </label>
                    </div>
                {% endfor %}

            </fieldset>
            <button type="submit" class="btn btn-danger">Save</button>
            <a href="/quiz/{{ title.id }}" class="btn btn-info" role="button">Cancel</a>
        </form>
    </div>

{% endblock %}